* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.img-magnifier-container {
  position:relative;
}

::ng-deep .img-magnifier-glass {
  position: absolute;
  border: 3px solid #D6DBDF;
  background-color: #D6DBDF;
  opacity: 0.3;
  /* border-radius: 100%; */
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 75px;
}
